* {
    margin: 0;
    padding: 0;
    font-family: ms gothic;
    
}


.kanji {
    font-size: 200px;
    
    text-align: center;
}


.eigo {
    visibility: hidden;
    text-align: center;
    
}


.action {
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    display: block;
}

.container {
    margin-top: 5%;
}

form {
    margin: auto;
    text-align: center;
    width: 250px;
}

textarea:focus, input:focus{
    outline: none;
}

.count {
    text-align: center;
    margin-top: 10px;
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */